<!doctype html>
<html>

<head>
    <title>nofiles - hxat performance</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>

<body>
    <div style="width: 100%">
        <canvas id="canvas"></canvas>
    </div>
    <script>
        var barChartData = {
            labels: {{ dat.x_labels }},
            datasets: [{
                label: 'conn',
                /*backgroundColor: 'rgba(255, 99, 132, 1)', ** red ** */
                backgroundColor: 'rgba(255, 206, 86, 1)',
                data: {{ dat.wsconnect }},
            }, {
                label: 'connecting',
                backgroundColor: 'rgba(54, 162, 235, 1)',
                data: {{ dat.wsconnecting }},
            /*}, {
                label: 'disconn',
                backgroundColor: 'rgba(255, 206, 86, 1)',
                data: {{ dat.wsdisconnect }},
            */
            }, {
                label: 'total_conn',
                /* backgroundColor: 'rgba(75, 192, 192, 1)', ** green ** */
                backgroundColor: 'rgba(255, 99, 132, 1)',
                data: {{ dat.wstotal }},
            }
            ]

        };
        window.onload = function() {
            var ctx = document.getElementById('canvas').getContext('2d');
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    title: {
                        display: true,
                        text: 'wsconn'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked: false,
                        }],
                        yAxes: [{
                            stacked: false
                        }]
                    }
                }
            });
        };

    </script>
</body>

</html>
