<!doctype html>
<html>

<head>
    <title>ws connection - hxat performance</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>

<body>
    <div style="width: 100%">
        <canvas id="canvas"></canvas>
    </div>
    <script>
        var chartData = {
            labels: {{ dat.x_labels }},
            datasets: [{
                label: 'ws conn',
                fill: 'start',
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                data: {{ dat.total }},
            }
            ]

        };
        window.onload = function() {
            var ctx = document.getElementById('canvas').getContext('2d');
            window.myBar = new Chart(ctx, {
                type: 'line',
                data: chartData,
                options: {
                    title: {
                        display: true,
                        text: 'ws connections'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    responsive: true,
                }
            });
        };

    </script>
</body>

</html>
